@import "/styles/Mixin_style.scss";
$ombreExterieurDark: 3px 3px 3px #040407, -3px -3px 3px #222327;
$ombreInterieurDark: inset 3px 3px 3px #040407, inset -3px -3px 3px #222327;

.cardProjet {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5%;
  margin-top: 0;
  &:hover .icon .iconpic {
    color: $couleur1;
  }

  .cardContent {
    padding: 5%;
    border-radius: 5px;
    cursor: pointer;
    width: 90%;
    height: 80%;
    margin: 15px;

    &:hover .cardImage {
      transform: translateY(-10px);
      background-color: #040407;
    }
    &:hover .cardBloc a {
      transform: translateY(0px);
      opacity: 1;
    }

    .cardImage {
      width: 100%;
			height: 70%;
      border-radius: 15px;
      transition: all 0.3s ease;
    }
    .cardBloc {
			height: 2px;
      a {
				text-decoration: none;
        text-transform: capitalize;
        font-size: 1rem;
        font-weight: 900;
        color: $couleur1;
        transition: all 0.3s ease;
        position: relative;
        bottom: 1px;
        transform: translateY(-5px);
        opacity: 0;
				padding-left: 4%;
      }
    }
    p {
			@include paragraphe;
      margin: 20px 0 0;
      text-transform: capitalize;
			color: $textNoir-700;
			font-weight:400;
			font-size: 1.4rem;
			padding-left: 4%;
    }
  }
}
