@import "/styles/Mixin_style.scss";
$ombreExterieurDark: 3px 3px 3px #040407, -3px -3px 3px #222327;
$ombreInterieurDark: inset 3px 3px 3px #040407, inset -3px -3px 3px #222327;

.cardService {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: auto;
	margin: 1.1%;
	box-shadow: $ombreExterieurDark;
	&:hover .cardIcon .iconpic{
		color: $couleur1;
	}
  .cardIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    transition: all 0.3s ease;
    margin: 10%;
    color: $textNoir-300;
		box-shadow: $ombreInterieurDark;
    .iconpic {
      font-size: 30px;
      line-height: 60px;
    }
  }
  h3 {
    font-size: 1.25rem;
    font-weight: 600;
    color: $textNoir-300;
    text-transform: capitalize;
  }
  p {
    font-size: 1rem;
    color: $textNoir-600;
    margin: 0;
    line-height: 1.5;
		padding: 4%;
		text-align: justify;
  }
}
