.navbar {
  display: flex;
  justify-content: space-between;
  background-color: white;
	//background-color: brown;
  box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 0.30);
  //width: 100%;
  padding: 0 10%;
  height: 4.1rem;
  //position: fixed;
  //z-index: 99;
  //top: 0;
  .logo {
    display: flex;
    align-items: center;
  }
  ul {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
    height: 100%;
		width: 40%;
		background-color: aqua;
    li {
      list-style: none;
      transition: ease 0.5s;
      position: relative;
      display: flex;
      align-items: center;
      box-sizing: border-box;
      /* &::after {
        content: "";
        width: 100%;
        height: 30%;
        position: absolute;
        left: 0;
        bottom: -15%;
      }
			&::before {
        content: "";
        width: 1px;
        height: 50%;
        position: absolute;
        right: 0;
        background-color: rgba(0, 0, 0, 0.15);
      } */
			a {
				text-decoration: none;
				font-size: 1.4rem;
        font-weight: lighter;
        font-family: 'Sansation';
        color: #000;
        white-space: nowrap;
        &:hover {
          background-color: rgba(168, 169, 172, 0.39);
        }
        /*span {
          font-size: 17px;
          font-weight: bold;
          color: blue;
        }*/
      }
    }
  }
}