@import './Mixin_style.scss';

.container {
  background-image: url('../public/assets/ours.jpg');
  height: 100vh;
  background-size: cover;
	background-attachment: fixed;
  color: $couleur6;
  .presentationCard_comment {
    display: flex;
    justify-content: flex-start;
    align-items: center;
		height: auto;
    padding: 15% 7%;
    background-color: green;
    @media screen and (max-width: 768px) {
      background-color: aqua;
      .bloc_comment{
        background-color: rgb(255, 251, 0);
        //width: 500px;
        .title{
          color: darkorchid;
        }
      }
    }
    @media screen and (max-width: 1305px) {
      background-color: rgb(255, 68, 0);
      justify-content: center;
      .bloc_comment{
        background-color: rgb(55, 255, 0);
        .title{
          color: rgb(0, 0, 0);
          font-size: 3rem;
          span{
            font-size: 3.5rem;
            color: $couleur7;
          }
        }
        .paragraphe {
          @include paragraphe;
          font-size: 1.5rem;
          line-height: 2;
          text-align: center;
        }
      }
    }
    .bloc_comment {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 50%;
			height: 80%;
      padding: 0 3%;
      //background-color: rgb(49, 0, 128);
      .title {
				@include title-2;
				line-height: 1.5;
				span{
					color: $couleur1;
				}
      }
			.paragraphe {
				@include paragraphe;
        font-size: 1.5rem;
        line-height: 2;
				text-align: center;
      }
    	a {
				@include button;
				padding: 1.3rem;
				margin: 5% 3% 5% 0;
				text-decoration: none;
        border: solid 3px white;
        background-color: rgba(255, 255, 255, 0);
        display: block;
      }
    }
  }
}
