@import './Mixin_style.scss';

.container {
  background-image: url('../public/assets/ours.jpg');
  height: 100vh;
  background-size: cover;
	background-attachment: fixed;
  color: $couleur6;
  .presentationCard_comment {
    display: flex;
    justify-content: flex-start;
    align-items: center;
		height: auto;
    padding: 15% 7%;
    //border: 1px solid red;
  	//background: linear-gradient(86.84deg, rgba(35, 160, 220, 0.63) 3.43%, rgba(35, 160, 220, 0) 74.9%);
    div {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 40%;
			height: 80%;
      padding: 0 3%;
      h1 {
				@include title-2;
				line-height: 1.5;
				span{
					color: $couleur1;
				}
      }
			p {
				@include paragraphe;
        font-size: 1.5rem;
        line-height: 2;
				text-align: center;
      }
    	a {
				@include button;
				padding: 1.3rem;
				margin: 5% 3% 5% 0;
				text-decoration: none;
        border: solid 3px white;
        background-color: rgba(255, 255, 255, 0);
        display: block;
      }
    }
  }
}

