@import "/styles/Mixin_style.scss";

.container {
  //background-color: red;
  height: 90vh;
  color: $textNoir-700;
  max-width: 65%;
  margin: 0 auto;
  h3 {
    @include title;
    margin-top: 2%;
    text-align: center;
    color: $couleur1;
    font-size: 1.8rem;
    font-weight: 700;
  }
  h2 {
    @include section_title;
    text-align: center;
    line-height: 1.4;
  }
  div {
    display: flex;
    //background-color: aquamarine;
    margin-top: 2%;
    .imgprofil {
      display: flex;
      flex-direction: column;
      //background-color: rgb(72, 255, 0);
      margin: 0;
      width: 50%;
      height: 550px;
      img {
        width: 100%;
        height: 80%;
        border-radius: 30px;
      }
      ul {
        //background-color: rgb(0, 255, 106);
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 80%;
        height: 15%;
        margin: 0 auto;
        li {
          //background-color: #3b5998;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          border: 1px solid rgba(80, 80, 80, 0.1);
          box-shadow: 0 10px 15px rgba(97, 97, 97, 0.1);
          background: linear-gradient(45deg, #ddd, #fff);
          transition: 0.5s;
          .fab {
            width: 70%;
            height: 70%;
            display: block;
            border-radius: 30%;
            position: relative;
            left: 7px;
            top: 7px;
            font-size: 24px;
            transition: 0.5s;
          }
          &:hover {
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
            width: 55px;
            height: 55px;
            transition: 0.5s;
            &:nth-child(1) {
              color: #00aced;
            }
            &:nth-child(2) {
              color: #007bb6;
            }
            &:nth-child(3) {
              color: #229ed9;
            }
            &:nth-child(4) {
              color: #171515;
            }
          }
        }
      }
    }
    .proposinfo {
      display: flex;
      flex-direction: column;
			align-items: center;
      margin: 0;
      //background-color: brown;
      margin-left: 3%;
      width: 70%;
			padding-top: 10%;
      p {
        @include paragraphe;
				color: $textNoir-700;
				text-align: justify;
				font-weight:400;
				font-size: 1.8rem;
				line-height: 1.2;
				span{
					@include title;
					font-size: 1.8rem;
					font-weight: 500;
				}
      }
      a {
        @include button;
        padding: 1.3rem;
        margin: 5% 3% 5% 0;
        text-decoration: none;
        //border: solid 3px white;
        background-color: $couleur1;
				color: $couleur6;
        display: block;
      }
    }
  }
}
