@import '/styles/Mixin_style.scss';

.container {
	//background-color: red;
  height: 80vh;
  color: $textNoir-700;
	max-width: 80%;
	margin: 0 auto;
	h3{
		@include title;
		text-align: center;
		color: $couleur1;
		font-size: 1.8rem;
		font-weight: 700;
	}
	h2{
		@include section_title;
			text-align: center;
			line-height: 1.4,
	}
	div{
		display: flex;
		background-color: aquamarine;
		margin-top: 2%;
		.imgprofil{
			background-color: rgb(255, 0, 0);
			margin: 0;
			width: 100%;
			height: 550px;
			img{
				width: 100%;
			}
		}
		.proposinfo{
			border: 1px solid green;
			margin: 0;
			background-color: brown;
			margin-left: 5%;
			p{
				@include title;
			}
		}
	}
}