@import "/styles/Mixin_style.scss";

.container {
  //background-color: red;
  //height: 80vh;
  color: $textNoir-700;
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .title {
    @include section_title;
    h2 {
      color: $textNoir-700;
    }
  }
  .content {
    display: flex;
    //justify-content: center;
    //align-items: center;
    width: 80%;
    height: auto;
    margin: 2% 0;
    //margin-top: 1%;
    .imgprofil {
      display: flex;
      flex-direction: column;
      //background-color: rgb(72, 255, 0);
      margin: 0;
      width: 40%;
      height: 450px;
      img {
        width: 100%;
        height: 85%;
        border-radius: 30px;
      }
      ul {
        //background-color: rgb(76, 0, 255);
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 80%;
        height: 15%;
        margin: 0 auto;
        li {
          //background-color: #3b5998;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          border: 1px solid rgba(80, 80, 80, 0.1);
          box-shadow: 0 10px 15px rgba(97, 97, 97, 0.1);
          background: linear-gradient(45deg, #ddd, #fff);
          transition: 0.5s;
          .fab {
            width: 70%;
            height: 70%;
            display: block;
            border-radius: 30%;
            position: relative;
            left: 7px;
            top: 7px;
            font-size: 24px;
            transition: 0.5s;
            background-color: linear-gradient(45deg, #ddd, #fff);
          }
          &:hover {
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
            width: 55px;
            height: 55px;
            transition: 0.5s;
            &:nth-child(1) {
              color: #00aced;
            }
            &:nth-child(2) {
              color: #007bb6;
            }
            &:nth-child(3) {
              color: #229ed9;
            }
            &:nth-child(4) {
              color: #171515;
            }
          }
        }
      }
    }
    .proposinfo {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0;
      //background-color: brown;
      margin-left: 3%;
      width: 55%;
      height: auto;
      padding-top: 10%;
      .paragraphe {
        @include paragraphe;
        color: $textNoir-700;
        text-align: justify;
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 1.2;
        span {
          @include title;
          font-size: 1.8rem;
          font-weight: 500;
        }
      }
      a {
        @include button;
        padding: 1.3rem;
        margin: 5% 3% 5% 0;
        text-decoration: none;
        //border: solid 3px white;
        background-color: $couleur1;
        color: $couleur6;
        display: block;
      }
    }
  }
  @media screen and (max-width: 1100px) {
    .content {
      width: 100%;
      height: auto;
      margin: 0 0 2% 0;
    }
  }
  @media screen and (max-width: 768px) {
    max-width: 95%;
    .content {
      width: 100%;
      height: auto;
      margin: 0 0 2% 0;
      .imgprofil {
        display: flex;
        flex-direction: column;
        margin: 0;
        width: 42%;
        height: 400px;
      }
    }
  }
  @media screen and (max-width: 425px) {
    max-width: 95%;
    .content {
      width: 100%;
      height: auto;
      margin: 0 0 2% 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .imgprofil {
        display: flex;
        flex-direction: column;
        margin: 0;
        width: 85%;
        height: 350px;
      }
      .proposinfo {
      margin: 0;
      width: 100%;
      .paragraphe {
        font-size: 1.5rem;
        span {
          font-size: 1.5rem;
        }
      }
      a {
        padding: 1rem;
      }
    }
    }
  }
}
