@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,500;1,400&family=Ubuntu:ital,wght@1,700&display=swap');

$couleur1:#fb839e;
$couleur2:#ec9412;
$couleur3:#1fc586;
$couleur4:#2eb1ed;
$couleur5:#cc3a3b;
$couleur6:#f8f8f8;
$couleur7:#0000;

//
$fondSombre:#100f1d;
$fondNoir-900:#000000;
$fondNoir-100:#dddddd;
$fondNoir-50: #eff0f4;
$textNoir-900:#000000;
$textNoir-700:#555555;
$textNoir-600:#666666;
$textNoir-300:#bbbbbb;

@mixin title {
    font-family: 'Raleway', sans-serif;
    font-size: 1.4rem;
    color: $couleur1;
    font-weight: 400;
}
@mixin title-2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 4rem;
    font-weight: 700;
    margin: 0;
}
@mixin section_title {
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    font-weight: 700;
}
@mixin paragraphe {
    font-family: 'Raleway', sans-serif;
    font-size: 1.8rem;
    //line-height: 4;
    font-weight: 900;
    color: $textNoir-300;
}

@mixin card_title {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    font-weight: 700;
}

@mixin button {
    padding: 1rem;
    border: unset;
    font-family: 'Raleway', sans-serif;
    width:max-content;
    font-size: 1.1rem;
    font-weight: 400;
    border-radius: .3rem;
    transition: ease-out .4s;
    color: $couleur1;

    &:hover {
        cursor: pointer;
        transform: scale(1.03);
    }
}