@import "/styles/Mixin_style.scss";

.container {
	height: 80vh;
  color: $textNoir-700;
  max-width: 70%;
  margin: 0 auto;
	.title{
		@include section_title;
		h2{
			color: $textNoir-700;
		}
	}
	.content {
    display: flex;
    justify-content: center;
    //max-width: 70%;
    //margin: 0 auto;
		background-color: red;
		width: 100%;
		height: 50px;
  }
}