@import "/styles/Mixin_style.scss";

.container {
  background-color: $fondSombre;
  height: 93vh;
  color: $textNoir-700;
  .title {
    @include section_title;
    margin-bottom: 0%;
  }
  .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 70%;
    margin: 0 auto;
  }
}
